.Bar {
    width: 100%;
    height: 56px;
    border-radius: 6px 6px 0px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    position: relative;
    overflow: hidden;
    display: flex;
}

.Bar__submit {
    border: none;
    background: #F9F9F9;
    color: none;
    padding: 20px;
    outline: none;
    cursor: pointer;
}

.Bar__icon {
    width: 20px;
    height: 20px;
}

.Bar__input {
    width: 100%;
    height: 100%;
    padding: 17px;
    border: none;
    box-sizing: border-box;
    padding: 17px 0;
    outline: none;
    background: #F9F9F9;
}

.Bar__input::-webkit-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: #CCC5C4;
}
.Bar__input::-moz-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: #CCC5C4;
}
.Bar__input:-moz-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: #CCC5C4;
}
.Bar__input:-ms-input-placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    color: #CCC5C4;
}