.User {
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
} 

.User:hover {
    cursor: pointer;
    background: #F2F2F2;    
} 

.User__name {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.36;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;
    width: 100%;
}

.User__nick {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #98999A;
    line-height: 1.36;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    word-wrap: break-word;
}

.User__avatar {
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.User__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.User__info {
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}